/* normalize.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

img {
  max-width: 100%;
  display: block;
}
